{{ define "main" }}
  <div class="ph4 pt2 mt5-ns mw8-5 center">
    <article class="serif fl w-100 w-70-l ph3 pr3 pr2-l">
      <header>
        <h1 class="f3 mv0 lh-copy fw3 tracked-tight">
          {{ .Title }}
        </h1>
        <time dateTime="{{ .Date }}" itemProp="datePublished" class="sans-serif f6 gray mb3 db">
            {{ .Date.Format "02 Jan 2006" }}
          </time>
      </header>
      <section class="fw2 lh-copy post-content">
        {{ .Content }}
      </section>
    </article>
    {{ partial "sidebar.html" . }}
  </div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">!function(d,s,id){var e, p = /^http:/.test(d.location) ? 'http' : 'https';if(!d.getElementById(id)) {e = d.createElement(s);e.id = id;e.src = p + '://' + 'widgets.rewardstyle.com' + '/js/shopthepost.js';d.body.appendChild(e);}if(typeof window.__stp === 'object') if(d.readyState === 'complete') {window.__stp.init();}}(document, 'script', 'shopthepost-script');</script>
{{ end }}
