<header class="site-header" id="header">

     <nav id="nav">
    <div class="container">
        <ul>
            <li>
              <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-fw fa-twitter"></i></a>
              <a target="_blank" href="#"><i class="fa fa-fw fa-instagram"></i></a>
              <a target="_blank" href="#"><i class="fa fa-fw fa-tumblr"></i></a>
              <a target="_blank" href="#"><i class="fa fa-fw fa-youtube"></i></a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="https://sergedenimes.com" target="_blank">Shop</a></li>
            <li><a href="https://proudlockstyle.com" target="_blank">Style</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="/fitness">Fitness</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      
    </div>
    </nav>
  <div class="text-center container" role="banner">
    <a href="/">
      <img class="logo img-responsive" src="/images/op-logo-vector.svg" alt="Oliver Proudlock">
    </a>
  </div>

</header>
