.home-tile {
	position: relative;
	background: #000;
	img {
		transition: filter .4s ease;
		width: 100%;
	}

	.tile-heading {
		position: absolute;
		z-index: 8;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background .4s ease;
		color: #fff;
		h3 {
			margin: 0;
			font-weight: 400;
			text-decoration: none;
			transition: color .4s ease;
		}
		&:hover {
			text-decoration: none;
			h3 {
				color: #000;
			}
		}
	}

	&:hover {
		img {
			filter: brightness(110%);
		}
	}
}

hr.home-divider {
	margin-bottom: 0;
	margin-top: $padding-large-horizontal;
}

.categories {
	.home-tile {
		img {
			filter: grayscale(100%) brightness(.85);
		}
		&:hover img {
			filter: grayscale(0%) brightness(1.2);
		}
	}
}