@import 'fonts';
@import 'variables';
@import 'bootstrap';
@import 'header';
@import 'footer';
@import 'home';
// @import 'header';

body {
  font-weight: 300;
  line-height: 1.6;
}

.top-buffer {
  margin-top: $padding-large-horizontal;
}
.wrapper {
  background: #fff;
  padding: $padding-large-horizontal 0;
}


a.fa:hover {
  text-decoration: none;
}


.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none!important;
}

section.post-content img{
  @extend .img-responsive;
}

article img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, label, .btn {
  text-transform: uppercase;
}