{{ define "main" }}
<div class="mw8-5 pt2 mt5-ns center">

  <!-- content -->
  <div class="fl w-100 w-70-l ph3 pr3 pr2-l">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $index, $section := $paginator.Pages }}
    <div {{ if ne 0 $index }}class="bt"{{ end }}>
      {{ partial "listing.html" . }}
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>

  <!-- sidebar -->
  {{ partial "sidebar.html" . }}

  <div class="cf"></div>
</div>
{{ end }}
