<div>
  <div class="Wallop relative mb2" ref="carousel">
    <div class="Wallop-list Wallop--fade">
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/op-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/pstyle-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/pstyle2-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/samson-carousel.jpg" alt="">
      </figure>
    </div>
    <router-link to="/" class="dib w-80 w-60-ns mw-100 mw6-ns absolute absolute-center">
      <img src="/static/op-logo-vector-with-tagline-white.svg" alt="">
    </router-link>
  </div>

  <div class="home-column center center ph3-ns">
    <div class="cf ph2-ns ph3">
      <div v-for="(tile, index) in tiles" :key="index" class="fl w-100 w-25-ns pa2 sans-serif">
        <router-link v-if="tile.link.slice(0,4) !== 'http'" :to="tile.link" class="db relative saturate-hover grayscale">
          <img :src="tile.image" alt="" class="db">
          <span class="absolute absolute-center db white ttu f4">{{ tile.text }}</span>
        </router-link>
        <a v-if="tile.link.slice(0,4) === 'http'" :href="tile.link" class="db relative saturate-hover grayscale" target="_blank">
          <img :src="tile.image" alt="" class="db">
          <span class="absolute absolute-center db white ttu f4">{{ tile.text }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="home-column center ph3-ns overflow-hidden" v-if='grams.ps && grams.ps.length'>
    <div class="ph3">
      <carousel :images="grams.ps"></carousel>
    </div>
  </div>

  <div class="home-column center ph2 ph3-ns">
    <div class="fl w-100 w-60-ns w-50-m pv2 ph3">
      <post v-if="post" :post="post" :excerpt="true"></post>
    </div>
    <div class="fl w-100 w-40-ns w-50-m pv2 ph3">
      <div class="videowrapper">
        <iframe width="640" height="801" :src="`https://player.vimeo.com/video/${videoId}?title=0&byline=0&portrait=0`" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="cf"></div>
  </div>
</div>