<div>
  <div class="Wallop relative mb2" ref="carousel">
    <div class="Wallop-list Wallop--fade">
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/op-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/pstyle-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/pstyle2-carousel.jpg" alt="">
      </figure>
      <figure class="Wallop-item">
        <img class="w-100 db" src="/static/carousel/samson-carousel.jpg" alt="">
      </figure>
    </div>
    <router-link to="/" class="dib w-80 w-60-ns mw-100 mw6-ns absolute absolute-center">
      <img src="/static/op-logo-vector-with-tagline-white.svg" alt="">
    </router-link>
  </div>

  <div class="mw8-5 center center ph3-ns">
    <div class="cf ph2-ns ph3">
      <div v-for="(tile, index) in tiles" :key="index" class="fl w-100 w-25-ns pa2 sans-serif">
        <router-link v-if="tile.link.slice(0,4) !== 'http'" :to="tile.link" class="db relative saturate-hover grayscale">
          <img :src="tile.image" alt="" class="db">
          <span class="absolute absolute-center db white ttu f4">{{ tile.text }}</span>
        </router-link>
        <a v-if="tile.link.slice(0,4) === 'http'" :href="tile.link" class="db relative saturate-hover grayscale" target="_blank">
          <img :src="tile.image" alt="" class="db">
          <span class="absolute absolute-center db white ttu f4">{{ tile.text }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="mw8-5 center ph3-ns overflow-hidden" v-if='grams.ps && grams.ps.length'>
    <div class="ph3">
      <carousel :images="grams.ps"></carousel>
    </div>
  </div>

  <div class="mw8-5 center ph2 ph3-ns">
    <div class="fl w-100 w-50-ns pv2 ph3">

      <router-link v-for="(post, key) in latestPosts" :key="key" :to="`/posts/${post.category}/${post.slug}`" class="flex db link black outline-0">
        <div class="db w-30-ns w-20 mw4 pr3 pb3">
          <img :src="post.post_thumbnail.URL" alt="" class="w-100 h-auto">
        </div>
        <div class="flex-1">
          <h1 class="f4 mv0 fw3 tracked-tight">{{ post.title }}</h1>
          <p class="mv0"><time v-if="post.date" :datetime="post.date" itemprop="datePublished" class="sans-serif f7 gray mb3">
            {{ post.date.slice(0,10) }}
          </time></p>
        </div>
      </router-link>

    </div>

    <div class="fl w-100 w-50-ns pv2 ph3">
      <div style="position:relative;height:0;padding-bottom:56.25%">
        <iframe src="https://www.youtube.com/embed/fZn_klBsKLY?rel=0&amp;controls=0&amp;showinfo=0?ecver=2" width="640" height="360"
          frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
      </div>

    </div>
    <div class="cf"></div>
  </div>
</div>