{{ define "main" }}
  <div class="ph4 pt2 mt5-ns mw8-5 center">
    <article class="serif">
      <section class="fw2 lh-copy post-content">
        {{ .Content }}
      </section>

      <section class="center mw7" >
        <op-image-wall :images='[{{ range .Params.attachments }}"{{ . }}",{{ end}}]' style="margin: 0 -.5rem;"></op-image-wall>


<!--
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'></div>
        {{ range .Params.attachments }}
        <div class="grid-item w5">
          <img src="{{ . }}" alt="" />
        </div>
        {{ end }} -->
      </section>
    </article>
  </div>
{{ end }}
