{{ $pag := $.Paginator }}
{{ $linkclass := "pa2 bt bb bl b--moon-gray dark-gray hover-bg-light-gray"}}
{{ if gt $pag.TotalPages 1 }}
<ul class="list pl0 flex justify-center sans-serif b f6">
    <li
    class="{{ if not $pag.HasPrev }}disabled{{ end }} {{ $linkclass }}"
    >
    <a
      href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}"
      aria-label="Previous"
      class="link black"
      ><span aria-hidden="true">&laquo;</span>
    </a>
    </li>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
    {{ $right := sub .TotalPages .PageNumber }}
    {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
    {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
    {{ if $showNumber }}
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
    {{ else }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
        {{ $.Scratch.Set "__paginator.ellipsed" true }}
    {{ end }}
    {{ if $showNumber }}
    <li
    class="{{ if eq . $pag }}bg-light-gray{{ end }} {{ $linkclass }}"
    ><a href="{{ .URL }}" class="link black">{{ .PageNumber }}</a>
  </li>
    {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
    <li class="disabled {{ $linkclass }}"><span aria-hidden="true">&hellip;</span></li>
    {{ end }}
    {{ end }}
    <li
    class="{{ if not $pag.HasNext }}disabled {{ end }}{{ $linkclass }} br">
    <a
      href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}"
      aria-label="Next"
      class="link black"
      ><span aria-hidden="true">&raquo;</span>
    </a>
    </li>
</ul>
{{ end }}
