{{ define "main" }}

<div class="relative">
  <div
    class="flex justify-center items-center aspect-ratio--object"
  >
    <img src="{{ .Params.logo }}" alt="" class="w-80 w-60-ns mw6-ns" />
  </div>

  <op-carousel
    :images="{{ apply .Params.carousel "replace" "/media/carousel/path" "path" "." | jsonify}}"
    child-class-name="w-100"
    class-name="mb3"
    :options="{autoPlay: 6000}"
  ></op-carousel>
</div>

<div class="mw8-5 center ph3-ns ph2">
   <op-insta-carousel
  token="1793053169.1677ed0.7f7706318947448b82a0e184bda1918b"
  user="1793053169"
  ></op-insta-carousel>
</div>

<div class="mw8-5 center ph3-ns ph2">
  <div class="cf">
    {{ range .Params.tiles }}
      <div class="fl w-100 w-25-ns sans-serif ph2">
        <a href="{{ .url }}" class="db relative saturate-hover grayscale mb3" target="_blank">
          <img src="{{ .imageUrl }}" alt="" class="db" />
          <span class="absolute absolute-center db white ttu f4">{{ .text }}</span>
        </a>
      </div>
    {{ end }}
  </div>
</div>

<div class="mw8-5 center ph3-ns ph2">
  <div class="fl w-100 w-50-ns ph2 mb3">
    <div class="videowrapper">
      <iframe
      src="https://www.youtube.com/embed/{{ .Params.video1 }}?rel=0&controls=0&showinfo=0?ecver=2"
      frameborder="0"
      allowfullscreen="true"
      /></iframe>
    </div>
  </div>

  <div class="fl w-100 w-50-ns ph2 mb3">
    <div class="videowrapper">
      <iframe
      src="https://www.youtube.com/embed/{{ .Params.video2 }}?rel=0&controls=0&showinfo=0?ecver=2"
      frameborder="0"
      allowfullscreen="true"
      ></iframe>
    </div>
  </div>
  <div class="cf"></div>
</div>

{{ end }}