<div id="app" class="flex flex-column min-vh-100">
  <nav id="navbar" class="fixed-ns z-5 w-100 bb top-0 bg-animate z-999 flex items-center justify-between relative" :class="$store.state.invertNav ? 'b--black bg-white' : 'b--white'">
    <button class="br1 black dim pv2 ph3 ma3 ba dn-ns b--black outline-0 button-reset" :class="navVisible ? 'bg-black-20' : 'bg-white'"
      @click="navVisible = !navVisible">
        <i class="fa fa-bars"></i>
      </button>

    <ul class="list pl0 ma0 flex-ns f6 ttu no-underline nav-links db-ns overflow-x-auto w-auto-ns w-100" :class="navVisible ? 'db shadow-4' : 'dn'">
      <li v-for="item in navItems" class="db dib-ns" @click="navVisible = false">
        <router-link v-if="item.link.slice(0,4) !== 'http'" :to="item.link" :class="navLinkClass">{{ item.title }}</router-link>
        <a v-if="item.link.slice(0,4) === 'http'" :href="item.link" :class="navLinkClass">{{ item.title }}</a>
      </li>
    </ul>

    <ul class="ml-auto list pr2 dn-m db nav-social-icons">
      <li>
        <a v-for="icon in socialIcons" :href="icon.link" class="link br-pill ba dib f6 inline-flex items-center justify-center h1-5 w1-5 mh1 dim"
          :class="$store.state.invertNav ? 'black' : 'white'" target="_blank">
          <i class="fa fa-fw" :class="`fa-${icon.icon}`"></i>
        </a>
      </li>
    </ul>
  </nav>

  <main class="flex-1 georgia">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </main>

  <footer class="bg-black mt4 ph4 pv3 white f6 fw3 flex justify-between items-center">
    <div>&copy; Copyright {{ new Date().getFullYear() }}</div>

  </footer>

  <transition name="fade">
    <div class="aspect-ratio--object flex items-center justify-center loading-overlay" v-show="$store.state.loading">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw dark-gray"></i>
    </div>
  </transition>
</div>
