@media screen and (max-width: 30em) {
    .nav-links {
      background-color: white;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .nav-links a,
    .nav-social-icons a {
      color: black;
    }
  }

  body,
  html {
    background: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
  }

  .sans-serif {
    font-family: "Montserrat", sans-serif;
  }

  figure {
    margin: 0;
    box-sizing: border-box;
  }

  .flex-1 {
    flex: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-property: opacity;
    transition-duration: .15s;
  }

  .fade-enter-active {
    transition-delay: .15s;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }

  .loading-overlay {
    background: rgba(255, 255, 255, .3);
  }

  .h1-5 {
    height: 24px;
  }

  .w1-5 {
    width: 24px;
  }

  .videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    max-width: 100%;
  }

  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .grayscale {
    filter: grayscale(1);
    transition: filter .5s ease;
  }

  .saturate-hover:hover {
    filter: grayscale(0);
  }