body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.sans-serif {
    font-family: Montserrat, sans-serif!important;
    font-weight: 200;
}

.h5-5 {
    height: 20rem;
}

.w4-5 {
    width: 12rem;
}

.mw8-5 {
    max-width: 76rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 10ms ease-in;
}

.absolute-center {
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.grayscale {
    filter: grayscale(1);
    transition: filter .5s ease;
}

.saturate-hover:hover {
    filter: grayscale(0);
}

.videowrapper, .embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    max-width: 100%;
}

.videowrapper iframe, .embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.flex-1 {
    flex: 1;
}
.v-center {
    margin-top: auto;
    margin-bottom: auto;
}



@media screen and (max-width: 30em) {
    .nav-links {
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0
    }
    .nav-links a,
    .nav-social-icons a {
        color: #000
    }
}

.fade {
    opacity: 0;
    transition: opacity 300ms ease;
}

.fade.active {
    opacity: 1;
}

/* Post-specific styling*/

.post-content a {
    color: #357edd;
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.post-content h1,
.post-content h2,
.post-content h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.post-content figure {
    margin-left: 0;
    margin-right: 0;
}